.menu {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #DC143C;
  color: white;

  .menu_option {
    margin: 5px;
    display: inline;
    .spacer {
      font-size: 12px;
      grid-column-start: 3/3;
    }
    .menu_option_items {
      font-size: 12px;
      display: inline;
      padding-left: 10px;
    }
  }
}
